<h3><%= @section.name %></h3>

<table class="table table-condensed table-hover table-responsive">
  <tr>
    <th>#</th>
    <th>Assignment</th>
    <th>Deadline</th>
    <th>open</th>
    <th></th>
  </tr>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.id %></td>
      <td><%= assignment.name %></td>
      <td><%= assignment.deadline %></td>
      <td></td>
      <td><%= link_to '編輯', admin_section_path(assignment: assignment.id) %>｜<%= link_to'刪除', admin_section_assignment_path(@section, assignment), method: :delete %></td>
    </tr>
  <% end %>
</table>

<% if params[:assignment].present? %>
  <h4>編輯作業</h4>
<% else %>
  <h4>發佈作業</h4>
<% end %>

<%= simple_form_for [:admin, @section, @assignment], html: {class: 'form-inline' } do |f| %>
  <%= f.input :name, label: 'Assignment '  %>
  <div class="form-group">
    <%= f.label 'deadline' %>
    <%= f.datetime_field :duedate, class: 'form-control' %>
  </div>
  <%= f.button :submit, class: "btn-sm btn-primary" %>
<% end %>



