<!DOCTYPE html>
<html>
  <head>
    <title>JevApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="clearfix">
      <ul class="list-inline pull-left">
        <li><%= link_to '成員總表', admin_users_path %></li>
      </ul>
      <div class="pull-right">
        <% if current_user %>
          (<%= current_user.email %>)
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>

      </div>
    </nav>

    <!-- 警告訊息 -->
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]%>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
